
Saved/Autosaves/

*.log

Saved/Config/CrashReportClient/UE4CC-Windows-BC5827F74F229B07C8A2FE94215FDB27/CrashReportClient.ini

Saved/Logs/

Saved/AutoScreenshot.png

Saved/Config/CrashReportClient/

Saved/Crashes/
Saved
Intermediate/CachedAssetRegistry.bin
Intermediate
Intermediate/CachedAssetRegistry.bin
